

html {
  width: 100%;
  margin: 0rem;
}

body {
  margin: 0rem;
  width: 100%;
  // overflow-y: scroll;
  // overflow-x: hidden;
}

div {
  outline: none;
}

.wrapper {
  background-size: 400% 400%;
  background-attachment: fixed;
  width: 100%;
  // height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  position: fixed;
  overflow-x: hidden;

  -webkit-animation: back-rainbow 5s ease infinite;
  -z-animation: back-rainbow 5s ease infinite;
  -o-animation: back-rainbow 5s ease infinite;
  animation: back-rainbow 5s ease infinite;
}

@-webkit-keyframes back-rainbow {
  0%{background-position:0% 100%}
  50%{background-position:100% 0%}
  100%{background-position:0% 100%}
}
@-moz-keyframes back-rainbow {
  0%{background-position:0% 100%}
  50%{background-position:100% 0%}
  100%{background-position:0% 100%}
}
@-o-keyframes back-rainbow {
  0%{background-position:0% 100%}
  50%{background-position:100% 0%}
  100%{background-position:0% 100%}
}
@keyframes back-rainbow { 
  0%{background-position:0% 100%}
  50%{background-position:100% 0%}
  100%{background-position:0% 100%}
}

.App {
  // width: 100vw;
  height: 100vh;
  font-family: 'Roboto Slab', sans-serif;
}

.App-No-Scroll {
  // width: 100vw;
  height: 100vh;
  font-family: 'Roboto Slab', sans-serif;
  overflow-x: hidden;
}

.dim-gradient {
  // width: 100vw;
  min-height: 5rem;
  background-color: rgba(255, 255, 255, 0.99);
}

.site-content {
  max-width: 85rem;
  margin: auto;
  min-height: 100vh;
  font-size: 2rem;
  font-weight: 400;
  z-index: 0;
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

a {
  text-decoration: none;
  color: rgb(10, 170, 219);
}

.absolute-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  position: fixed;
}

.modal-container {
  background-color: rgba(255, 255, 255, 0.85);
  border: solid 0.1rem black;
  font-family: 'Roboto Slab', sans-serif;
  border-radius: 1rem;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  overflow-y: scroll;
  display: block;
  position: absolute;
  height: auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin: 5vh;
  padding: 2rem;
}

.input-small {
  width: 5rem;

}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
  justify-content: center;
}

.v-center {
  margin: auto;
}

.white-space {
  white-space: pre-line;
}

.align-end {
  align-items: flex-end;
}

.font {
  font-family: 'Roboto Slab', sans-serif;
}

.flex-full {
  flex: 1;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 70%;
  margin: auto;
}

.full-height {
  height: 100%;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.margin-top-l {
  padding-top: 3rem;
}

.margin-top {
  padding-top: 2rem;
}

.margin-top-s {
  padding-top: 1rem;
}

.margin-top-xs {
  padding-top: 0.5rem;
}

.margin-top-minus {
  margin-top: -0.5rem !important;
}

.side-space {
  margin-left: 2rem;
  margin-right: 2rem;
}

.small-space {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.line-breaks {
  white-space: pre-line;
}

.word-wrap {
  word-wrap: break-word;
}

.spacer {
  height: 2rem;
}

.line-spacer {
  margin-top: 1rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
}

.margin-left-s {
  margin-left: 1rem;
}

.margin-right-s {
  margin-right: 1rem;
}

.grey {
  color: grey;
}

.highlight:hover {
  color: white;
  cursor: pointer;
}

.rows {
  flex-direction: row;
}

.text-l {
  font-size: 3rem;
  font-weight: 500;
}

.text-m {
  font-size: 2rem;
}

.text-mid {
  font-size: 1.4rem;
}

.text-s {
  font-size: 1rem;
}

.text-xs {
  font-size: 0.8rem;
}

.text-xxs {
  font-size: 0.6rem;
}

.text-err {
  color: #ff6961;
}

.text-split {
  white-space: pre-line;
}

.ethos-text {
  font-size: 1.6rem;
}

.text-desc {
  width: 40%;
}

.text-black {
  color: black;
}

.text-left {
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
}

.text-right {
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
}

.faq-title-container {
  position: relative;
}

.faq-title {
  margin-right: 2rem;
}

.faq-toggle {
  position: absolute;
  bottom: 0.3rem;
  right: 0;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.header {
  padding: 2rem 0 2rem 0;
}

.footer {
  padding: 0 0 4rem 0;
}

.page-logo {
  width: 10rem;
  position: absolute;
  top: 0;
  left: 0;
}

.page-logo-c {
  height: 10rem;
  width: 10rem;
  border-radius:50%;
  overflow:hidden;
  text-align:center;
  position:relative;
}

.home-logo {
  width: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

.home-logo-c {
  height: 2rem;
  width: 2rem;
  border-radius:50%;
  overflow:hidden;
  text-align:center;
  position:relative;
}


// .home-logo {
//   border-radius: 50%;
//   width: 2rem;
//   height: 2rem;
//   margin-top: -0.5rem;
// }

.earth-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-bottom: -0.15rem;
}

.username-container {
  width: 80%;
}

.share-icon-container {
  text-align: right;
}

.share-icon {
  width: 2rem;
  height: 2rem;
}

.profile-verified {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.verified-icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.3rem;
  margin-bottom: -0.1rem;
}

.social-icon-web {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0 1rem;
  margin-top: 0.2rem;
  margin-right: 0.5rem;
}

.social-icon {
  width: 3rem;
  height: 3rem;
  padding: 0 1rem;
}

.curator-icon-web {
  width: 1.2rem;
  height: 1.2rem;
  padding: 0 1rem;
  margin-top: 0.2rem;
  margin-right: 0.5rem;
}

.curator-icon {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0 1rem;
}

.header-margin {
  margin-left: 1rem;
}

.header-selected {
  color: rgba(0, 0, 0, 0.6) !important;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  font-weight: 500;
}

.info-block-container {
  display: flex;
}

.info-block-space {
  width: 1rem;
}

.info-block {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 3rem;
  font-size: 1.5rem;
  box-shadow: 3px 3px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  padding: 1rem;
}

.info-block:hover {
  filter: opacity(0.8);
  // background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.info-block:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 1px #ccc;
}

.info-block-selected {
  background-color: rgba(255, 255, 255, 0);
}

.remove-a {
  color: black;
  text-decoration: none;
}

.info-block-container {
  display: flex;
  align-items: flex-end;
}

.apply-block-container {
  margin-top: -0.3rem;
}

.apply-block {
  width: 4rem;
  height: 1rem;
}

.social-icon:hover {
  cursor: pointer;
}

.content-block {
  flex-grow: 1;
  // box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  // background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  // padding: 2rem;
  margin: 1rem 0 2rem 0;
}

.reorder-block {
  display: flex;
  width: 100%;
}

.curator-drag {
  height: 1rem;
  margin-top: 0.8rem;
  margin-right: 1rem;
}

.drag-icon {
  height: 3rem;
  margin-right: 2rem;
}

.drag-order {
  margin-top: 2rem;
  margin-right: 2rem;
}

.reorder-image {
  margin: 1rem 0;
  height: 5rem;
}

.reorder-loading {
  width: 100%;
  height: 5rem;
  pointer-events: none;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.gallery-block {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  // box-shadow: 2px 2px 4px rgb(223, 223, 223);
  // background-color: rgba(255, 255, 255, 0.4);
  // padding: 0.6rem;
  // margin: 0.5rem 0;
}

.gallery-info-container {
  position: relative;
}

.gallery-info {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  z-index: 1;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));;
}

.text-rainbow {
  display: inline-block;
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  background-clip: text;
  animation: rainbow 3000s alternate-reverse linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-grey {
  display: inline-block;
  background-image: repeating-linear-gradient(45deg, #343d46 , #4f5b66 , #65737e , #a7adba , #c0c5ce, #343d46);
  background-clip: text;
  animation: rainbow 3000s alternate-reverse linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-black {
  color: black !important;
}

@keyframes rainbow {
  from {
    background-position-x: 0vw;
  }

  to {
    background-position-x: 6000vw;
  }
}

.hidden {
  display: none;
}


.gallery-anim-container {
  width: 100%;
  height: 100%;
  min-height: 30rem;
  overflow-x: hidden;
  position: relative;
}

.exhibition-height {
  min-height: 12rem;
  visibility: hidden;
}

.gallery-description {
  word-wrap: break-word;
  width: 32%;
  white-space: pre-line;
}

.gallery-plate {
  border-radius: 0.2rem;
  flex-grow: 1;
  padding: 2rem 2rem 2rem 2rem;
}

.metal {
  position: relative;
  outline: none;
  color: hsla(0,0%,42%,1);
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  transition: color .2s;
}

.metal.linear {
  background-image: -webkit-repeating-linear-gradient(-90deg, hsla(0,0%,80%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(-90deg, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   2%, hsla(0,0%,  0%,.03) 2.5%),
    -webkit-repeating-linear-gradient(-90deg, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 4.8%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(120deg, hsl(0,0%,60%)  0%, 
    hsl(0,0%,90%) 57%, 
    hsl(0,0%,78%) 83%,
    hsl(0,0%,70%)100%);
}


.gallery-frame-container {
  margin: 0 0 0 4rem;
  width: 100%;
}

.gallery-art-container {
  display: inline-flex;
  pointer-events: none;
  width: 100%;
}

.gallery-art {
  pointer-events: auto;
  width: 100%;
  margin-bottom: -8px;
}

.gallery-art:focus {
  outline: none;
}

.fullscreen-container {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
}

.frame-exit {
  width: 2rem;
  height: 2rem;
  filter: invert(1);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.gallery-art-fullscreen {
  top:50%;
  left:50%;
  max-height: 90%;
  max-width: 90%;
  position:fixed;
  transform: translate(-50%, -50%);
}

.frame-shadow {
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 8px rgba(0,0,0,.6);
  -moz-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
}

.frame {
  pointer-events: none;
  border:solid 2rem #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-sizing:border-box;
  position:relative;
  text-align:center;
  &:before {
    pointer-events: none;
    border-radius:2px;
    bottom:-1.6rem;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-1.6rem;
    position:absolute;
    right:-1.6rem;
    top:-1.6rem;
  }
  &:after {
    pointer-events: none;
    border-radius:2px;
    bottom:-2rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2rem;
    position:absolute;
    right:-2rem;
    top:-2rem;
  }
}

.frame-control {
  width: 1.6rem;
  height: 1.6rem;
}

.consolation-frame {
  margin-top: 1rem;
  width: 4rem;
}

.consolation-frame-two {
  margin-top: 1rem;
  max-width: 60%;
}

.loader { 
  margin: 1rem auto;
  border-radius: 1rem;
  border: 4px solid transparent;
  position: relative;
  width: 100%;
  padding: 1px;
}

.loader:before {
  content:'';
  // border: 1px solid #fff; 
  // border-radius:10px;
  // position:absolute;
  top:-2px; 
  right:-2px; 
  bottom:-2px; 
  left:-2px;
}

.loader .loaderBar { 
  position: absolute;
  border-radius: 2rem;
  top: 0;
  right: 100%;
}

.loader .loaderBar { 
  position: absolute;
  border-radius: 2rem;
  height: 0.2rem;
  top: 0;
  right:100%;
  bottom: 0;
  left: 0;
  background: repeating-linear-gradient(45deg, rgba(238, 130, 238, 0.2), rgba(75, 0, 130, 0.2), rgba(0, 0, 255, 0.2), rgba(0, 128, 0, 0.2), rgba(255, 255, 0, 0.2), rgba(255, 165, 0, 0.2), rgba(255, 0, 0, 0.2), rgba(238, 130, 238, 0.2)); 
  width: 0;
  animation: borealisBar 2s linear infinite;
}

@keyframes borealisBar {
  0% {
    left:0%;
    right:100%;
    width:0%;
  }
  10% {
    left:0%;
    right:75%;
    width:25%;
  }
  90% {
    right:0%;
    left:75%;
    width:25%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
  }
}

.block-loading {
  width: 100%;
  min-height: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  pointer-events: none;
}

.block-art {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.block-art-image {
  width: 100%;
  margin-bottom: -0.5rem;
}

.curation-art {
  max-height: 80vh;
  max-width: 67vw;
  // width: 100%    !important;
  // height: auto   !important;
}

.curation-control {
  width: 2rem;
  height: 2rem;
  padding-top: 0.2rem;
}

.curation-control:hover {
  opacity: 0.8;
}

.curation-control:active {
  opacity: 0.3;
}

.curation-control-selected {
  width: 2rem;
  height: 2rem;
  padding-top: 0.2rem;
  opacity: 0.5;
}

.approve-block {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', sans-serif;
  flex-grow: 1;
  margin-top: 0.5rem;
  height: 3rem;
  font-size: 1.2rem;
  box-shadow: 3px 3px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.approve-block:hover {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  background-clip: text;
  color: transparent;
  outline: none;
  cursor: pointer;
  animation: rainbow 3000s alternate-reverse linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.approve-block:active {
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 1px #ccc;
}


.switch-icon {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.4rem;
}

.close-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.block-info {
  display: flex;
  flex-direction: column;
}

.account-social {
  width: 2rem;
  height: 2rem;
  margin-right: 0.4rem;
}

.account-social-web {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
}

.opensea-profile {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 0.4rem;
  margin-top: -0.1rem;
}

.block-social {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -0.4rem;
  margin-right: -0.2rem;
}

.block-social-web {
  width: 1.2rem;
  height: 1.2rem;
  margin-bottom: 0.2rem;
  margin-right: -0.2rem;
}

.block-flag {
  width: 1.2rem;
  height: 1.2rem;
  padding-top: 0.2rem;
  margin-right: -0.2rem;
}

.block-flag:hover {
  cursor: pointer;
  mask-image: linear-gradient(rgb(255, 0, 0));
  -webkit-mask-image: linear-gradient(rgb(255, 0, 0));
}

.pointer:hover {
  cursor: pointer;
}

.block-social:hover {
  cursor: pointer;
}

.relative {
  position: relative;
  cursor: pointer;
  width: 4rem;
}

.round {
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image:
    repeating-linear-gradient(
      45deg,
    hsla(300, 76%, 72%, 0.05),
    hsla(275, 100%, 25%, 0.05),
    hsla(240, 100%, 50%, 0.05),
    hsla(120, 100%, 25%, 0.05),
    hsla(60, 100%, 50%, 0.05),
    hsla(39, 100%, 50%, 0.05),
    hsla(0, 100%, 50%, 0.05),
    hsla(300, 76%, 72%, 0.05)
    );
}

#cta{
  width:100%;
  position: absolute;
}

#cta .arrow{
  left: 30%;
}
.arrow {
  position: absolute;
  bottom: 0; 
  margin-left:0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top:14px;
}

.arrow-right {
  right: 0;
}

#cta .arrow-left {
  left: 25%;
}
.arrow-left {
  position: absolute;
  bottom: 0; 
  margin-left:0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top:14px;
}

.segunda {
  margin-left: 8px;
}

.next {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNMjk4LjMsMjU2TDI5OC4zLDI1NkwyOTguMywyNTZMMTMxLjEsODEuOWMtNC4yLTQuMy00LjEtMTEuNCwwLjItMTUuOGwyOS45LTMwLjZjNC4zLTQuNCwxMS4zLTQuNSwxNS41LTAuMmwyMDQuMiwyMTIuNyAgYzIuMiwyLjIsMy4yLDUuMiwzLDguMWMwLjEsMy0wLjksNS45LTMsOC4xTDE3Ni43LDQ3Ni44Yy00LjIsNC4zLTExLjIsNC4yLTE1LjUtMC4yTDEzMS4zLDQ0NmMtNC4zLTQuNC00LjQtMTEuNS0wLjItMTUuOCAgTDI5OC4zLDI1NnoiLz48L3N2Zz4=);
}

.previous {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNMjEzLjcsMjU2TDIxMy43LDI1NkwyMTMuNywyNTZMMzgwLjksODEuOWM0LjItNC4zLDQuMS0xMS40LTAuMi0xNS44bC0yOS45LTMwLjZjLTQuMy00LjQtMTEuMy00LjUtMTUuNS0wLjJMMTMxLjEsMjQ3LjkgIGMtMi4yLDIuMi0zLjIsNS4yLTMsOC4xYy0wLjEsMywwLjksNS45LDMsOC4xbDIwNC4yLDIxMi43YzQuMiw0LjMsMTEuMiw0LjIsMTUuNS0wLjJsMjkuOS0zMC42YzQuMy00LjQsNC40LTExLjUsMC4yLTE1LjggIEwyMTMuNywyNTZ6Ii8+PC9zdmc+);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

@keyframes bounceAlpha2 {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

@media(hover: hover) and (pointer: fine) {
  .round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  }
  .round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  }

  .arrow-left.primera.bounceAlpha {
    animation-name: bounceAlpha2;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  }

  .round:hover .arrow-left{
    animation-name: bounceAlpha2;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  }
  .round:hover .arrow-left.primera{
    animation-name: bounceAlpha2;
    animation-duration:1.4s;
    animation-delay: 0s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  }
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading div {
  position: absolute;
  border: 4px solid rgba(0, 0, 0, 0.2);
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loading {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* Apply */
$black: #000;
$gray: #9b9b9b;
.form__title {
  color: $gray;
}

.form__group {
  font-family: 'Roboto Slab', sans-serif;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__group-full {
  font-family: 'Roboto Slab', sans-serif;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: 'Roboto Slab', sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
  pointer-events: none;
}

.form__label_s {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.8rem;
  color: $gray;
  pointer-events: none;
}

.file__label {
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
  pointer-events: none;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: repeating-linear-gradient(45deg, #343d46 , #4f5b66 , #65737e , #a7adba , #c0c5ce, #343d46);
  border-image-slice: 1;
}

/* reset input */
.form__field{
  &:required,&:invalid {
    box-shadow:none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.intent-field {
  height: 10rem;
}

.small-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Roboto Slab', sans-serif;
  white-space: normal;
  border: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  outline: none;
  // flex-grow: 1;
  font-size: 1rem;
  box-shadow: 3px 3px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  padding: 0.8rem;
}

.button-green {
  background-color: rgb(152,255,152);
}

.button-red {
  background-color: rgb(255,182,193);
}

.button-blue {
  background-color: rgb(182, 246, 255);
}

.small-button:hover {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  background-clip: text;
  color: transparent;
  outline: none;
  cursor: pointer;
  animation: rainbow 3000s alternate-reverse linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small-button:active {
  border: none;
  outline: none;
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 1px #ccc;
}

.button-min-size {
  min-width: 6rem;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Roboto Slab', sans-serif;
  white-space: normal;
  border: none;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  display: inline-block;
  font-size: 1.4rem;
  min-width: 6rem;
  padding: 2rem;
  margin: 1rem 2rem;
  outline: none;
  box-shadow: 3px 3px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

.button:hover {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  background-clip: text;
  color: transparent;
  outline: none;
  cursor: pointer;
  animation: rainbow 3000s alternate-reverse linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button:active {
  border: none;
  outline: none;
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 1px #ccc;
}

.home-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Roboto Slab', sans-serif;
  white-space: normal;
  border: none;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  display: inline-block;
  font-size: 1.4rem;
  min-width: 6rem;
  padding: 2rem;
  margin: 1rem 0rem;
  outline: none;
  box-shadow: 3px 3px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

.home-button:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  cursor: pointer;
}

.home-button:active {
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 1px #ccc;
}

.submit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Roboto Slab', sans-serif;
  white-space: normal;
  border: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  outline: none;
  flex-grow: 1;
  font-size: 1.6rem;
  box-shadow: 3px 3px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 2rem;
}

.submit-button:hover {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  background-clip: text;
  color: transparent;
  outline: none;
  cursor: pointer;
  animation: rainbow 3000s alternate-reverse linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit-button:active {
  border: none;
  outline: none;
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 1px #ccc;
}

.select-dropdown,
.select-dropdown * {
  width: 50%;
	position: relative;
	box-sizing: border-box;
}

.select-dropdown {
  margin-top: 1rem;
  border-bottom: 2px solid $gray;
	position: relative;
  font-size: 1rem;
  color: $gray;
}

.select-dropdown select {
	font-size: 1.3rem;
  font-family: 'Roboto Slab', sans-serif;
	font-weight: normal;
	width: 100%;
	padding: 1rem 0 0.8rem 0;
  color: $gray;
	border: none;
	background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
	appearance: none;
}

.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}

.listing-modal {
  margin: auto;
  width: 40rem;
}

.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-bottom: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

@media (max-width: 90rem) {
  .header {
    padding: 2rem;
    font-size: 2rem;
  }

  .footer {
    padding: 1rem 2rem 4rem 2rem;
  }

  .social-icon {
    width: 2rem;
    height: 2rem;
    padding: 0 1rem;
  }

  .social-icon-web {
    width: 1.6rem;
    height: 1.6rem;
    padding: 0 1rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
  }

  .info-block-container {
    margin: 0 2rem 0 2rem;
  }

  .info-block {
    font-size: 1rem;
    padding: 0.5rem;
    height: 2rem;
  }

  .apply-block {
    height: 1.2rem;
  }

  .container {
    width: 65rem;
  }

  .content-block {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin: 1rem 2rem 2rem 2rem;
  }

  .text-l {
    font-size: 2.4rem;
  }
  
  .text-m {
    font-size: 1.6rem;
  }

  .text-mid {
    font-size: 1.4rem;
  }
  
  .text-s {
    font-size: 1rem;
  }

  .ethos-text {
    font-size: 1rem;
  }

  .text-desc {
    width: 100%;
  }

  .faq-toggle {
    margin-top: 0.5rem;
    width: 1.4rem;
    height: 1.4rem;
  }

  .form__group {
    position: relative;
    width: 100%;
  }

  .select-dropdown,
  .select-dropdown * {
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }

  @keyframes rainbow {
    from {
      background-position-x: 0vw;
      
    }
    to {
      background-position-x: 12000vw;
    }
  }

  .gallery-container {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .gallery-description {
    align-items: center;
    margin: auto;
    word-wrap: break-word;
    justify-content: center;
    min-width: 25rem;
    flex-grow: 1;
    margin-bottom: 2rem;
  }
}

@media (max-width: 35rem) {
  .text-l {
    font-size: 1.6rem;
  }

  .text-m {
    font-size: 1.2rem;
  }

  .text-mid {
    font-size: 1rem;
  }

  .text-s {
    font-size: 0.8rem;
  }

  .logo {
    width: 3rem;
    height: 3rem;
  }

  .header {
    padding: 1rem;
    font-size: 2rem;
  }

  .footer {
    padding: 1rem 1rem 4rem 1rem;
  }

  .faq-toggle {
    margin-top: 0.5rem;
    width: 1rem;
    height: 1rem;
  }

  .profile-verified {
    width: 1rem;
    height: 1rem;
    margin-left: 0.3rem;
  }

  .verified-icon {
    width: 1rem;
    height: 1rem;
  }

  .share-icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.6rem;
  }

  .social-icon {
    width: 2rem;
    height: 2rem;
    padding: 0 1rem;
  }

  .social-icon-web {
    width: 1.6rem;
    height: 1.6rem;
    padding: 0 1rem;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
  }

  .header-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  .header-margin {
    margin-left: 0.5rem;
  }

  .content-block {
    margin: 0rem 1rem 1rem 1rem;
    // padding: 1rem;
  }

  .info-block-container {
    margin: 0 1rem 0 1rem;
  }

  .gallery-container {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .gallery-description {
    align-items: center;
    margin: auto;
    justify-content: center;
    word-wrap: break-word;
    min-width: 18rem;
    flex-grow: 1;
    margin-bottom: 2rem;
  }

  .gallery-block {
    margin: 0.5rem 0;
  }

  .gallery-art {
    max-width: 100%;
    max-height: 50rem;
  }

  .drag-icon {
    height: 2rem;
    margin-right: 1rem;
  }
}



/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
 }
 
 #nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  height: 3.5px;
  background: #36551f linear-gradient(to right, violet, orange, red);
  background-size: 300%;
  animation: s linear infinite barprogress, 5s fadein;
  width: 100%;
 }
 
 @keyframes barprogress {
  0% {
   background-position: 0% 0;
  }
  to {
   background-position: 125% 0;
  }
 }
 
 /* Fancy blur effect */
 #nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ffb831, 0 0 5px #ffb831;
  opacity: 1;
 
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
 }
 
 /* Remove these to get rid of the spinner */
 #nprogress .spinner {
  display: none;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
 }
 

 .nprogress-custom-parent {
  overflow: hidden;
  position: relative;
 }
 
 .nprogress-custom-parent #nprogress .bar {
  position: absolute;
 }
 
 @-webkit-keyframes nprogress-spinner {
  0% {
   -webkit-transform: rotate(0deg);
  }
  100% {
   -webkit-transform: rotate(360deg);
  }
 }
 @keyframes nprogress-spinner {
  0% {
   transform: rotate(0deg);
  }
  100% {
   transform: rotate(360deg);
  }
 }
 