html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.background-gradient {
  position: absolute;
  background: linear-gradient(-45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  background-size: 400% 400%;
  z-index: -1;
  width: 100%;
  height: 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Slab', sans-serif;
}

.margin-left {
  margin-right: 1rem;
}

.margin-right {
  margin-left: 1rem;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-full {
  flex: 1;
}

.margin-top-l {
  padding-top: 3rem;
}

.margin-top {
  padding-top: 2rem;
}

.margin-top-s {
  padding-top: 1rem;
}

.spacer {
  height: 2rem;
}

.grey {
  color: grey;
}

.highlight:hover {
  color: white;
  cursor: pointer;
}

.text-l {
  font-size: 3rem;
  font-weight: 500;
}

.text-m {
  font-size: 2rem;
}

.text-s {
  font-size: 1rem;
}

.text-err {
  color: #ff6961;
}

.ethos-text {
  font-size: 1.6rem;
}

.text-desc {
  width: 40%;
}

.text-left {
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
}

.dim-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.97);
  overflow-y: scroll;
}

.site-content {
  max-width: 85rem;
  margin: auto;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  z-index: 0;
  align-items: center;
}

.header {
  margin: 2rem 0 2rem 0;
}

.footer {
  padding: 0 0 4rem 0;
}

.header-selected {
  background-color: rgba(255, 255, 255, 0) !important;
}

.info-block-container {
  display: flex;
}

.info-block {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 3rem;
  font-size: 1.5rem;
  box-shadow: 3px 3px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding: 1rem;
}

.info-block:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.info-block:active {
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 1px #ccc;
}

.remove-a {
  color: black;
  text-decoration: none;
}

.info-block-container {
  display: flex;
  align-items: flex-end;
}

.apply-block-container {
  margin-top: -0.3rem;
}

.apply-block {
  width: 4rem;
  height: 1rem;
}

.social-icon {
  margin-top: 0.2rem;
  width: 2.4rem;
  height: 2.4rem;
}

.social-icon:hover {
  cursor: pointer;
}

.content-block {
  flex-grow: 1;
  box-shadow: 3px 3px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem 0rem;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-block {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 4px rgb(223, 223, 223);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.6rem;
  margin: 1%;
}

.text-rainbow {
  display: inline-block;
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  background-clip: text;
  color: transparent;
  animation: rainbow 3000s alternate-reverse linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-grey {
  display: inline-block;
  background-image: repeating-linear-gradient(45deg, #343d46 , #4f5b66 , #65737e , #a7adba , #c0c5ce, #343d46);
  background-clip: text;
  color: transparent;
  animation: rainbow 3000s alternate-reverse linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
  from {
    background-position-x: 0vw;
    
  }
  to {
    background-position-x: 6000vw;
  }
}

.block-loading {
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35%;
}

.block-art {
  position: relative;
  width: 100%;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.block-art-image {
  width: 100%;
}

.block-info {
  display: flex;
  flex-direction: column;
}

.block-social {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -0.4rem;
  margin-right: -0.2rem;
}

.block-social-web {
  width: 1.2rem;
  height: 1.2rem;
  margin-bottom: 0.2rem;
  margin-right: -0.2rem;
}

.block-market {
  padding-top: 0.8rem;
  align-items: flex-end;
}

.pointer:hover {
  cursor: pointer;
}

.block-social:hover {
  cursor: pointer;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading div {
  position: absolute;
  border: 4px solid rgba(0, 0, 0, 0.2);
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loading {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* Apply */
$black: #000;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
  pointer-events: none;
}

.file__label {
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
  pointer-events: none;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: repeating-linear-gradient(45deg, #343d46 , #4f5b66 , #65737e , #a7adba , #c0c5ce, #343d46);
  border-image-slice: 1;
}

/* reset input */
.form__field{
  &:required,&:invalid {
    box-shadow:none;
  }
}

.intent-field {
  height: 10rem;
}

.submit-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Roboto Slab', sans-serif;
  white-space: normal;
  border: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  outline: none;
  flex-grow: 1;
  font-size: 1.6rem;
  box-shadow: 3px 3px 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.submit-button:hover {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  background-clip: text;
  color: transparent;
  outline: none;
  cursor: pointer;
  animation: rainbow 3000s alternate-reverse linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit-button:active {
  border: none;
  outline: none;
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 1px #ccc;
}

.select-dropdown,
.select-dropdown * {
  width: 50%;
	position: relative;
	box-sizing: border-box;
}

.select-dropdown {
  margin-top: 1rem;
  border-bottom: 2px solid $gray;
	position: relative;
  font-size: 1rem;
  color: $gray;
	border-radius: 4px;
}

.select-dropdown select {
	font-size: 1.3rem;
  font-family: 'Roboto Slab', sans-serif;
	font-weight: normal;
	width: 100%;
	padding: 1rem 0 1rem 0;
  color: $gray;
	border: none;
	background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
	appearance: none;
}

.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}

.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-bottom: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

@media (max-width: 90rem) {
  .header {
    margin: 2rem;
    font-size: 2rem;
  }

  .footer {
    padding: 0 2rem 4rem 2rem;
  }

  .info-block-container {
    margin: 0 2rem 0 2rem;
  }

  .info-block {
    font-size: 1rem;
    padding: 0.5rem;
    height: 2rem;
  }

  .apply-block {
    height: 1.2rem;
  }

  .container {
    width: 65rem;
  }

  .content-block {
    margin: 2rem 2rem;
  }

  .text-l {
    font-size: 2.4rem;
  }
  
  .text-m {
    font-size: 1.6rem;
  }
  
  .text-s {
    font-size: 1rem;
  }

  .ethos-text {
    font-size: 1rem;
  }

  .text-desc {
    width: 100%;
  }

  .form__group {
    position: relative;
    width: 100%;
  }

  @keyframes rainbow {
    from {
      background-position-x: 0vw;
      
    }
    to {
      background-position-x: 12000vw;
    }
  }
}